<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Tidy Data) — <time datetime="2025-09-15">Mon, Sep 15, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 1: Tidy Data on Mon, Sep 15, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Using Spreadsheet Programs for Data Organization<br>Formatting Data Tables in Spreadsheets</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Formatting Problems<br>Dates as Data</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Basic Quality Assurance and Control<br>Exporting Data from Spreadsheets<br>Caveats of Popular Data and File Formats</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (OpenRefine) — <time datetime="2025-09-16">Tue, Sep 16, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 2: OpenRefine on Tue, Sep 16, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Introduction to OpenRefine<br>Working with OpenRefine Projects</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Faceting and Filtering Data<br>Clustering and Transformations</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Exporting and Saving Data<br>Advanced Data Operations</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (Unix) — <time datetime="2025-09-17">Wed, Sep 17, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 3: Unix on Wed, Sep 17, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Introducing the Shell<br>Navigating Files and Directories</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Working With Files and Directories<br>Pipes and Filters</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Loops<br>Shell Scripts<br>Finding Things</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Git) — <time datetime="2025-09-18">Thu, Sep 18, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 4: Git on Thu, Sep 18, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Navigating Git Repositories<br>Recording Changes to Files</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Viewing the History of Changes<br>Undoing Changes</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Working with Remotes<br>Collaborating with Others</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 5 (SQL) — <time datetime="2025-09-19">Fri, Sep 19, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 5: SQL on Fri, Sep 19, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Using Databases and SQL<br>Selecting Data</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Filtering Data<br>Calculating New Values</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Aggregating Data<br>Combining Data</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 6 (Python: Part 1) — <time datetime="2025-09-22">Mon, Sep 22, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 6: Python: Part 1 on Mon, Sep 22, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Running and Quitting<br>Variables and Assignment</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Data Types and Type Conversion<br>Built-in Functions and Help</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Conditionals<br>Loops</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 7 (Python: Part 2) — <time datetime="2025-09-23">Tue, Sep 23, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 7: Python: Part 2 on Tue, Sep 23, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Functions<br>Libraries</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Reading Tabular Data into DataFrames<br>Pandas DataFrames</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Plotting</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 8 (R: Part 1) — <time datetime="2025-09-24">Wed, Sep 24, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 8: R: Part 1 on Wed, Sep 24, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Introduction to R and RStudio<br>Project Management With RStudio</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Seeking Help<br>Data Structures</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Exploring Data Frames<br>Subsetting Data</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 9 (R: Part 2) — <time datetime="2025-09-25">Thu, Sep 25, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 9: R: Part 2 on Thu, Sep 25, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Vectorization<br>Dataframe Manipulation with dplyr</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Creating Publication-Quality Graphics with ggplot2<br>Producing Reports With knitr</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td></td></tr>
    </table>
  </div>
</div>

