<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Tidy Data) — <time datetime="2025-09-15">Mon, Sep 15, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 1: Tidy Data on Mon, Sep 15, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (OpenRefine) — <time datetime="2025-09-16">Tue, Sep 16, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 2: OpenRefine on Tue, Sep 16, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (Unix) — <time datetime="2025-09-17">Wed, Sep 17, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 3: Unix on Wed, Sep 17, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Git) — <time datetime="2025-09-18">Thu, Sep 18, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 4: Git on Thu, Sep 18, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 5 (SQL) — <time datetime="2025-09-19">Fri, Sep 19, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 5: SQL on Fri, Sep 19, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 6 (Python: Part 1) — <time datetime="2025-09-22">Mon, Sep 22, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 6: Python: Part 1 on Mon, Sep 22, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 7 (Python: Part 2) — <time datetime="2025-09-23">Tue, Sep 23, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 7: Python: Part 2 on Tue, Sep 23, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 8 (R: Part 1) — <time datetime="2025-09-24">Wed, Sep 24, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 8: R: Part 1 on Wed, Sep 24, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 9 (R: Part 2) — <time datetime="2025-09-25">Thu, Sep 25, 2025</time></h3>
    <table class="table table-striped">
      <caption class="visually-hidden">Schedule for Day 9: R: Part 2 on Thu, Sep 25, 2025</caption>
      <tr><td>8:30 AM - 10:00 AM</td><td>Session A</td></tr>
      <tr><td>10:00 AM - 10:10 AM</td><td>Break</td></tr>
      <tr><td>10:10 AM - 11:30 AM</td><td>Session B</td></tr>
      <tr><td>11:30 AM - 12:20 PM</td><td>Session C</td></tr>
    </table>
  </div>
</div>

