<div id="spreadsheets-setup">
  <h3>Spreadsheet Software</h3>

  <p>
    To interact with spreadsheets, we can use <a href="https://www.libreoffice.org">LibreOffice</a>, 
    <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>, 
    <a href="https://www.gnumeric.org">Gnumeric</a>, 
    <a href="https://www.openoffice.org">OpenOffice.org</a>, 
    or other programs. 
    Commands may differ a bit between programs, but general ideas for thinking about spreadsheets is the same.
  </p>
  <p>
    For this lesson, if you don't have a spreadsheet program already, 
    we will be using Excel, but you can use Google Sheets as well. 
  </p>

  <div>
    <ul class="nav nav-tabs os-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#spreadsheets-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#spreadsheets-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#spreadsheets-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux / WSL</a></li>
    </ul>
    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="spreadsheets-windows">
        <ul>
         <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Windows should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        Once the installer is downloaded, double click on it and it should install.</li>
        </ul>

      </article>
      <article role="tabpanel" class="tab-pane" id="spreadsheets-macos">
        <p>
        <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Mac OS should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        The file <code>LibreOffice\_X.X.X\_MacOS\_x86-64</code> (whichever version of LibreOffice you have selected) should have been downloaded. 
        Double click on this file, and LibreOffice will be installed.</li>
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="spreadsheets-linux">
        <p>
         <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Linux should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        Once the installer is downloaded, double click on it and it should install.</li>
        </p>
      </article>
    </div>
  </div>
<!--
 <h3>DB Browser for SQlite</h3>
   <p> 
      <a href="https//sqlitebrowser.org/dl"><strong>DB Browser for SQLite</strong></a> is a visual tool to create, edit, and query
      <strong>SQLite</strong> databases.<strong>SQLite</strong> is included with <strong>DB Browser for SQLite</strong>, so it does not have to be 
      installed separately.
      <ul>
      <li>There are a few options for Windows, but most modern computers can use the <code>Standard installer for 64-bit Windows</code> version.
          The <code> .zip (no installer)</code> can be run directly from the folder, after extracting the contents of the zip file. 
          It will not show up in the <code>Start</code> menu.</li> 
      <li>There are also two options for MacOS. Most people should use the <code>DB Browser for SQLite (Universal)</code> installer.</li> 
      </ul>
   <p>
    Launch <strong>DB Browser for SQLite</strong> to confirm that the installation was successful.
   --> 

